<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<Package
	  Name="SampleApp Setup"
	  Manufacturer="SwinburneStudent"
	  Version="1.0.0.0"
	  UpgradeCode="B219184C-E3C0-40BE-8E2C-18DF7AB9CDAD">

		<MediaTemplate EmbedCab="yes" />

		<DirectoryRef Id="INSTALLFOLDER">

			<Component
			  Id="MainExecutable"
			  Guid="FF9AFB36-F863-46DF-8AA4-07F38AB6EB65">

				<File
				  Id="SampleAppEXE"
				  Source="$(var.SampleApp.TargetDir)SampleApp.exe"
				  KeyPath="yes" />

			</Component>

		</DirectoryRef>

		<Feature
		  Id="ProductFeature"
		  Title="SampleAppSetup"
		  Level="1">

			<ComponentRef Id="MainExecutable" />

		</Feature>

	</Package>

</Wix>